@charset "UTF-8";
body {
  background-color: var(--primary-backg-color);
  color: var(--primary-text-color);
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
  color: var(--primary-text-color);
}

.no-scroll {
  overflow: hidden;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin: 0;
  padding: 0;
}

.list {
  list-style: none;
}

.img {
  display: block;
  max-width: 100%;
  height: auto;
  width: 100%;
}

/* header */
.header {
  border-bottom: 1px solid #ececec;
}

.header__container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 15px;
}
@media screen and (min-width: 768px) {
  .header__container {
    padding: 0;
  }
}

/* Навігація */
.navigation {
  display: flex;
  align-items: center;
}

.menu {
  margin-left: 87px;
  display: none;
  align-items: center;
  margin-left: 93px;
}
@media screen and (min-width: 768px) {
  .menu {
    display: flex;
  }
}

.menu__item + .menu__item {
  margin-left: 50px;
}

.menu__link {
  display: block;
  padding: 32px 0;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.menu__link:hover, .menu__link:focus {
  color: var(--accent-color);
}

.menu__link.current {
  color: var(--accent-color);
  margin-bottom: 0px;
  position: relative;
}
.menu__link.current::after {
  position: absolute;
  display: block;
  content: "";
  width: 100%;
  height: 4px;
  background: var(--accent-color);
  border-radius: 2px;
  bottom: -1px;
}

/* Контакти */
.contacts__icon {
  fill: var(--secondary-text-color);
  margin-right: 10px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts__link:hover .contacts__icon, .contacts__link:focus .contacts__icon {
  fill: var(--accent-color);
}

.contacts {
  display: none;
  margin-left: auto;
}
@media screen and (min-width: 768px) {
  .contacts {
    display: block;
  }
}
@media screen and (min-width: 1200px) {
  .contacts {
    display: flex;
  }
}

.contacts__item + .contacts__item {
  margin-top: 10px;
}
@media screen and (min-width: 1200px) {
  .contacts__item + .contacts__item {
    display: flex;
    margin-top: 0;
    margin-left: 10px;
  }
}

.contacts__link {
  display: flex;
  align-items: center;
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts__link:hover, .contacts__link:focus {
  color: var(--accent-color);
}

.menu-open {
  position: absolute;
  top: 10px;
  right: 15px;
  display: block;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .menu-open {
    display: none;
  }
}

.menu-close {
  position: absolute;
  top: 10px;
  right: 15px;
  display: block;
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-left: auto;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-close:hover, .menu-close:focus {
  fill: var(--accent-color);
}

.mob-menu {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--primary-backg-color);
  padding-top: 48px;
  padding-bottom: 48px;
}
.mob-menu > .container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.mob-menu__item:not(:last-child) {
  margin-bottom: 32px;
}

.mob-menu__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  text-align: center;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--primary-text-color);
}

.mob-menu__link.current {
  color: var(--accent-color);
}

.mob-contacts__item:not(:last-child) {
  margin-bottom: 32px;
}

.mob-contacts__tel {
  font-weight: 500;
  font-size: 34px;
  line-height: 40px;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  text-decoration: none;
}

.mob-contacts__mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--secondary-text-color);
}

.mob-soc-list {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 64px;
}

.mob-soc__link {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  text-decoration: none;
}

.mob-soc__link::after {
  content: "";
  width: 22px;
  height: 0px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  transform: rotate(90deg);
}

/* Герой */
.hero {
  padding: 118px 60px;
  text-align: center;
  margin: 0 auto;
  width: 100%;
  background-color: #c4c4c4;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/mobile-hero.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/mobile-hero-2x.jpg");
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/tablet-hero.jpg");
    padding: 118px 0;
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/tablet-hero-2x.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/desktop-hero.jpg");
    padding: 200px 0;
    max-width: 1600px;
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/desktop-hero-2x.jpg");
  }
}

.hero__container {
  max-width: 100%;
  padding: 0;
}

.hero__title {
  letter-spacing: 0.06em;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-transform: uppercase;
  color: var(--primary-backg-color);
  margin-bottom: 30px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .hero__title {
    width: 360px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    width: 696px;
  }
}

/* Кнопка героя */
.hero__button {
  margin: 0 auto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  border-radius: 4px;
  border: transparent;
  padding: 10px 32px;
  display: inline-block;
  min-width: 216px;
  color: var(--primary-backg-color);
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  text-decoration: none;
  cursor: pointer;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.hero__button:hover, .hero__button:focus {
  background-color: #188ce8;
}

/* Переваги */
.specifics {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.specifics__icon-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 120px;
  background-color: var(--secondary-backg-color);
}

.specifics__title {
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  color: var(--primary-text-color);
  margin-top: 30px;
  margin-bottom: 10px;
}

.specifics__item {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .specifics__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .specifics__item {
    width: calc((100% - 90px) / 4);
  }
}

.specifics__text {
  font-size: 14px;
  line-height: 1.71;
  color: var(--secondary-text-color);
}

.services {
  padding-top: 0;
}
@media screen and (max-width: 1200px) {
  .services {
    display: none;
  }
}

.services-list {
  display: flex;
}

.services-list__item + .services-list__item {
  margin-left: 30px;
}

.services-list__item {
  position: relative;
}

.services-list__text {
  background-color: rgba(47, 48, 58, 0.8);
  width: 370px;
  height: 70px;
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: var(--primary-backg-color);
}

/* Наша команда */
.team {
  background-color: var(--secondary-backg-color);
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.team-list__item {
  text-align: center;
  background-color: var(--primary-backg-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .team-list__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .team-list__item {
    width: calc((100% - 90px) / 4);
  }
}

.team-list .description-box {
  padding-top: 30px;
  padding-bottom: 24px;
}
@media screen and (min-width: 1200px) {
  .team-list .description-box {
    padding-bottom: 30px;
  }
}

.description-box__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.description-box__profession {
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.19;
  margin-top: 10px;
  margin-bottom: 16px;
}

.team-soc-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.team-soc__item {
  width: 44px;
  height: 44px;
}

.team-soc__link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.team-soc__link:hover, .team-soc__link:focus {
  background-color: var(--accent-color);
}

.team-soc__icon {
  fill: var(--primary-icon-color);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.team-soc__link:hover .team-soc__icon, .team-soc__link:focus .team-soc__icon {
  fill: var(--primary-backg-color);
}

/* Постійні клієнти */
.logos {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.client__item {
  width: 100%;
  height: 92px;
  width: calc((100% - 30px) / 2);
}
@media screen and (min-width: 768px) {
  .client__item {
    width: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .client__item {
    width: calc((100% - 150px) / 6);
  }
}

.client__link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  border: 1px solid var(--primary-icon-color);
  transition-property: border, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.client__link:hover, .client__link:focus {
  border-color: var(--accent-color);
}

.client__icon {
  fill: var(--primary-icon-color);
}
.client__link:hover .client__icon, .client__link:focus .client__icon {
  fill: var(--accent-color);
}

/* footer */
.footer {
  width: 100%;
  background: var(--hero-bg-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 15px;
}
@media screen and (min-width: 768px) {
  .footer-box {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
  }
}
@media screen and (min-width: 1200px) {
  .footer-box {
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
  }
}

.join {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 60px;
}
@media screen and (min-width: 768px) {
  .join {
    margin: 0 0 0 165px;
  }
}
@media screen and (min-width: 1200px) {
  .join {
    margin: 0 0 0 70px;
  }
}
.join-list__text {
  text-transform: uppercase;
  color: var(--primary-backg-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}
.join-list {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}
.join-list__item {
  width: 44px;
  height: 44px;
}
.join-list__link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.1);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.join-list__link:hover, .join-list__link:focus {
  background-color: var(--accent-color);
}
.join-list__icon {
  fill: var(--primary-backg-color);
}

/* Адреси */
.address-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 1200px) {
  .address-box {
    flex-direction: row;
    display: block;
  }
}

.address-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 1200px) {
  .address-list {
    flex-direction: row;
    display: block;
  }
}

.address-list__link {
  display: inline-block;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.address-list__link:hover, .address-list__link:focus {
  color: var(--accent-color);
}

.address-list__item + .address-list__item {
  margin-top: 9px;
}

.address-list .map {
  color: var(--primary-backg-color);
}

/* Підпишіться на розсилку */
.mailing {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .mailing {
    margin-top: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .mailing {
    margin-top: 0;
    margin-left: 93px;
    display: block;
    width: auto;
  }
}

.email {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 1200px) {
  .email {
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.mailing__title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  color: var(--primary-backg-color);
}

.email__input {
  margin-top: 20px;
  margin-bottom: 20px;
  outline: none;
  max-width: 450px;
  width: 100%;
  height: 50px;
  padding: 15px 12px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  color: var(--primary-backg-color);
  transition-property: border, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .email__input {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .email__input {
    width: 358px;
    margin-right: 12px;
  }
}
.email__input:focus {
  border-color: var(--primary-backg-color);
}
.email__input:focus::-moz-placeholder {
  color: var(--primary-backg-color);
}
.email__input:focus:-ms-input-placeholder {
  color: var(--primary-backg-color);
}
.email__input:focus::placeholder {
  color: var(--primary-backg-color);
}
.email__input::-moz-placeholder {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}
.email__input:-ms-input-placeholder {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}
.email__input::placeholder {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.email__submit {
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  width: 200px;
  height: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-color: transparent;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--primary-backg-color);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.email__submit:hover, .email__submit:focus {
  background-color: #188ce8;
}

.email__icon {
  margin-left: 10px;
  fill: var(--primary-backg-color);
}

/* Модальне вікно */
.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  padding: 40px;
  width: 100%;
  max-width: 450px;
  min-height: 609px;
  background: var(--primary-backg-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
  }
}
.modal-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background: var(--primary-backg-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close:hover, .modal-close:focus {
  fill: var(--accent-color);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-field {
  margin-bottom: 10px;
}

.input-wrap {
  position: relative;
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  outline: transparent;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus {
  border-color: var(--accent-color);
}

.modal-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  fill: var(--primary-text-color);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus + .modal-icon {
  fill: var(--accent-color);
}

.input-title {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--secondary-text-color);
  margin-bottom: 4px;
}

.input-comment {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;
  padding: 12px 16px;
  resize: none;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.input-comment::-moz-placeholder {
  letter-spacing: 0.01em;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  color: rgba(117, 117, 117, 0.5);
}
.input-comment:-ms-input-placeholder {
  letter-spacing: 0.01em;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  color: rgba(117, 117, 117, 0.5);
}
.input-comment::placeholder {
  letter-spacing: 0.01em;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  color: rgba(117, 117, 117, 0.5);
}
.input-comment:focus {
  border-color: var(--accent-color);
}

.form-submit {
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  width: 200px;
  height: 50px;
  cursor: pointer;
  margin: 0 auto;
  display: block;
  border-color: transparent;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--primary-backg-color);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.form-submit:hover, .form-submit:focus {
  background-color: #188ce8;
}

.modal-title {
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  color: var(--primary-text-color);
  margin-bottom: 12px;
}

.modal-checkbox {
  margin-top: 20px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.check-text {
  color: var(--secondary-text-color);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  display: flex;
  align-items: center;
}
@media screen and (min-width: 1200px) {
  .check-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
  }
}
.check-text::before {
  content: "";
  width: 16px;
  height: 15px;
  margin-right: 8.38px;
  background-image: url(../images/icon-check-off.svg);
  background-repeat: no-repeat;
}
.modal-check:checked + .check-text::before {
  background-image: url(../images/icon-check-on.svg);
  background-repeat: no-repeat;
}

.check-link {
  color: var(--accent-color);
  margin-left: 8px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
}
@media screen and (min-width: 1200px) {
  .check-link {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
  }
}

/* Портфоліо */
/* Фільтр */
.filter {
  display: flex;
  justify-content: center;
}

.filter__item + .filter__item {
  margin-left: 8px;
}

.filter__button {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 22px;
  padding-right: 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  display: inline-block;
  color: var(--primary-text-color);
  background: var(--secondary-backg-color);
  border-radius: 4px;
  cursor: pointer;
  border: transparent;
  transition-property: background-color, color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.filter__button:hover, .filter__button:focus {
  color: var(--primary-backg-color);
  background: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* Галерея */
.cards__top-wrap {
  position: relative;
  overflow: hidden;
}

.cards__top-text {
  position: absolute;
  top: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  color: var(--primary-backg-color);
  background-color: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
  transform: translateY(100%);
  overflow: auto;
  transition: transform 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.cards__item:hover .cards__top-text {
  transform: translateY(0%);
}

.cards {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
}

.cards__item {
  margin-right: 30px;
  margin-bottom: 30px;
}
.cards__item:hover, .cards__item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.cards__item:nth-child(3n) {
  margin-right: 0;
}
.cards__item:nth-last-child(-n+3) {
  margin-bottom: 0;
}

.description__title {
  letter-spacing: 0.06em;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
}

.description__text {
  margin-top: 4px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  color: var(--secondary-text-color);
}

.cards .description {
  padding-left: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}

:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --logo-text-color: #000000;
  --accent-color: #2196f3;
  --primary-backg-color: #ffffff;
  --secondary-backg-color: #f5f4fa;
  --hero-bg-color: #2f303a;
  --primary-icon-color: #afb1b8;
}

/* Логотип */
.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.logo__navigation {
  color: var(--logo-text-color);
}

.logo-foot {
  display: flex;
  color: var(--primary-backg-color);
  margin-bottom: 20px;
}

.logo__title {
  color: var(--accent-color);
}/*# sourceMappingURL=main.css.map */