:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --logo-text-color: #000000;

  --accent-color: #2196f3;

  --primary-backg-color: #ffffff;
  --secondary-backg-color: #f5f4fa;

  --hero-bg-color: #2f303a;

  --primary-icon-color: #afb1b8;
}